.team {
    background-color: $secondary-font-color;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    padding-top: 10px;
    background-color: white;
}

.team-list {
    display: flex;
    padding-top: 50px;
}

.team-head {
    padding-top: 30px;
    background-color: white;
}

.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;

    &:not(:last-child) {
    margin-right: 30px;
    }
}

