header {
    background-color: $header-bg-color;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: #000000;
    letter-spacing: 0.03em;
    
    span {
        color: $accent-color;
    }

    &:focus {
        border-color: $accent-color;
    }
}
  
// .logo span {
//     color: var(--accent-color);
// }

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav-list {
    display: flex;
}

.site-nav-link {
    position: relative;
    display: block;
    padding-top: 33px;
    padding-bottom: 32px;
    width: max-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
    &:hover,
    &:focus {
        color: $accent-color;
    }
   
}

.site-nav-item {
    &:not(:last-child) {
    margin-right: 50px;
    }
}

.site-nav-link.current {
    color: $accent-color;
}

.site-nav-link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.contacts-list {
    display: flex;
}

.header-contacts li + li {
    margin-left: 50px;
}

.contacts-list-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, 
    &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

.header .container {
    display: flex;
}


.envelope {
    fill: #757575;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-list-link:hover &,
    .contacts-list-link:focus & {
    fill: $accent-color;
    }
}

.mobile {
    fill: #757575;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-list-link:hover &,
    .contacts-list-link:focus & {
    fill: $accent-color;
    }
}

