html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

button {
    cursor: pointer;
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

address {
    font-style: normal;
}

body {
    font-family: $main-font;
}